
		}

		h1{
			color: white;
		}
		h1:hover{
			color: red;
		}
		img{
			border-radius:100%;
		}
		img:hover{
			/*border-radius: 0%;*/
			transform: rotate(40deg);
		}
		}

		.fa-facebook {
  			background: #3B5998;
  			
		}
		.fa:hover{

			margin-bottom:60;
			font-size: 25px;
			color: white;
			padding:30px 34px;
			background-color:grey;
			border-radius:35%

		}
		.fa{

			margin-bottom:60;
			font-size: 25px;
			color: black;
			padding:30px 34px;
			background-color:white;
			border-radius:35%;

		}
		a{
			text-decoration:none;

		}

		ul {
		  list-style-type: none;
		  margin: -9px -9px 0px -9px;
		  padding: 0;
		  overflow: hidden;
		  background-color: grey;
		}

		li {
		  float: left;
		}

		li a {
		  display: block;
		  color: white;
		  text-align: center;
		  padding: 16px 18px;
		  text-decoration:;
		}

		li a:hover:not(.active) {
		  background-color: gold;
		}

		.active {
		  background-color: #4CAF50;
		}
          }
          .opacity{
          	background-color: gray;
          	text-align: center;
          	width:50%;
        }


         #footer {
        	margin-left: 0px;
		}
		#footer h1:hover{
		}
		a {
			/*float: left;*/
			margin-left: 20px;
		}
		a:hover{

		





	